form{
	display: inline-block;
	vertical-align: top;
}

#contacts{
	width: 400px;
	display: inline-block;
	margin: 20px;
}
.contact{
	border: 2px solid black;
	margin: 20px;
	text-align: center;
}
.hide{
	display: none;
}